<!DOCTYPE html>
<html>
<head>
  <title>WeatherPop</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-header">
    <img src="https://cartoontagging.files.wordpress.com/2014/03/pop-sunset.jpg" class="circle">
    <a href="https://github.com/alemosie/weather-pop">WeatherPop: NYC</a>
  </div>
<%= yield %>

</body>
</html>
